.text {
    height: 15em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    color: #d0cfcc;
    font-size: 48;
}

.text p {
    margin: 0;
}

body {
    background-color: #242424
}
